div.different{
    display: flex;
flex-flow: column nowrap;
align-items: center;
width: 100%;
position: relative;
margin-bottom: 100px;
color: #333;
    &::after{
        content: "";
position: absolute;
bottom:-60px;
left: 50%;
transform: translateX(-50%);
border-radius: 5px;
width: 89.2px;
height: 3.2px;
background-color: #80CDD0;
    }
    >h1{
        margin-bottom: 20px;
font-size: 30px;
text-align: center;
font-weight: bold;
line-height: 1.235;
max-width: 345px;
    }
    >p{
        font-size: 14px;
margin-top: 15px;
color: #333333;
max-width: 375px;
text-align: center;
    }
}