div.film{
    width: 100%;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 150px;
    display: flex;
    flex-flow: row wrap;
    >div.top{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        height: 300px;
        margin-bottom: 80px;
        >video{
            width: 577px;
            height: 324px;
        }
    }
    >div.bottom{
        display: inline-block;
margin: 10px auto;
        width: 300px;
        height: 50px;
        border-radius: 40px;
        cursor: pointer;
        background-color: rgb(250, 250, 250);
        border: 1px solid rgb(116, 116, 116);
        &:hover{
        background-color: rgb(238, 238, 238);
        }
        >P{
            font-family: sans-serif;
            font-weight: bold;
            margin-left: 32px;
            margin-top: 8px;
            line-height: 30px;
            font-size: 14px;
            
        }

    }
}