div.header > div.menu2 {
  display: none ;
  width: 100%;
  height: 80vh;
  min-height: 590px;
  max-height: 596px;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 4;
  left: 0;
  background-color: #ffffff;
  > ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    min-height: 590px;
    height: 100%;
    width: 247px;
    border-right: 2px solid #f5f5f5;
    padding: 10px 0;
    > li {
       width: 100%;
       min-height: 35px;
       margin-bottom: 2px;
       cursor: pointer;
       padding-left: 2px;
       &:hover{
              background-color: rgba(221, 228, 240, 0.856);
              >div.koli{
                     display: none;
                     display: flex;
              }
       }
              > div.koli {
              display: none;
              flex-flow: row nowrap;
              padding: 20px 20px 20px 45px;
              width: 80%;
              height: 590px;
              position: absolute;
              top: 0;
              left: 247px;
              gap: 5px;
              display: none;
              >div.y{
                     display: flex;
                     flex-flow: column nowrap;
                     width: 150px;
                     gap: 8px;
                     >div{
                            color: #333;
                            >h2{
                                   display: none;
                                   font-size: 12px;
                                   font-weight: 700;
                                   margin: 10px;
                                   text-transform: capitalize;
                                   &:hover{
                                          color: #999999;
                                   }
                            }
                            >p{
                                   display: none;
                                   margin: 12px;
                                   font-size: 12px;
                                   &:hover{
                                          color: #999999;
                                          font-weight: 700;
                                   }
                            }
                     }
                     >.kids{
                            display: none;
                     }
              }
            
      }
      >div.axdar{
       display: none;
              justify-content: center;
              align-items: center;
              margin-left: -50px;
              >div.ax3{
                     display: none;
                     width: 200px;
                     height: 200px;
                     display: flex;
                     flex-flow: column nowrap;
                     align-items: center;
                     justify-content: center;
                     >a:first-of-type{
                            display: none;
                            text-decoration: none;
                            color: #000;
                            font-size: 17px;
                            font-weight: 700;
                            &:hover{
                                   color: #999999;
                            }
                     }
                     >p{
                            display: none;
                            color: #666666;
                            text-align: center;
                            font-size: 14px;
                            margin: 10px 0 15px 0;
                     }
                     >img{
                            display: none;
                            width: inherit;
                            height: 440px;
                            border-radius: 10px;
                            
                     }
                     >img#insp{
                            display: none;
                            width: 169px;
                            height: 169px;
                            object-fit: cover;
                            border-radius: unset;
                     }
                     >a:nth-of-type(2){
                            display: none;
                            text-decoration: underline 2px;
                            color: #333;
                            font-size: 14px;
                            font-weight: 700;
                            text-underline-offset: 5px;
                     }
          
              }
      }
      > a {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-left: 25px;
        color: #333;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}
