div.end{
    display: flex;
    flex-flow: row wrap;
    
    align-items: center;
    width: 100%;
    height: 270px;
    background-color: rgb(243, 243, 243);
    >div.left{
        margin-left: 12px;
        margin-top: 40px;
        width: 150px;
        height: 250px;
        >h3{
            font-size: 14px;
            color: #333333;
            margin-bottom: 14px;
        }
        >p{
            font-size: 15px;
            margin-bottom: 3PX;
            color: #333333;
            line-height: 30px;
            &:hover{
                color: rgb(110, 175, 164);
            }
        }
    }
    >div.center{
        
        margin-top: 40px;
        width: 150px;
        height: 250px;
        margin-left: 70px;
        >h3{
            font-size: 14px;
            color: #333333;
            margin-bottom: 14px;
        }
        >p{
            font-size: 15px;
            margin-bottom: 3px;
            color: #333333;
            line-height: 30px;
            &:hover{
                color: rgb(110, 175, 164);
            }
        }
    }
    >div.right{
        
        margin-top: -250px;
        width: 150px;
        height: 250px;
        margin-left: 440px;
        z-index: 5;
        >h3{
            font-size: 14px;
            color: #333333;
            margin-bottom: 14px;
            
        }
        >p{
            font-size: 15px;
            margin-bottom: 3px;
            color: #333333;
            line-height: 30px;
            &:hover{
                color: rgb(110, 175, 164);
            }
        }
    }
}