div.footer{
    width: 100%;
    height: 280px;
    margin-top: 20px;
    >div.fot1{
    padding-top: 25px;
    margin: 0px auto;
    width: 570px;
    height: 130px;
    >p{
        color: #333333;
        padding: 0 15px;
        text-align: center;
        font-size: 12px;
        line-height: 17px;
    }
}
    >div.fot2{
    margin: 0 auto;
    width: 570px;
    height: 10px;
    >p{
        color: #333333;
        padding: 0 15px;
        text-align: center;
        font-size: 12px;
        line-height: 17px;
    }
  }
  div.fot3{
    padding-top: 10px;
    margin: auto;
    width: 570px;
    height: 20px;
    >u{
        color: #333333;
        padding: 0 25px;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
  }
}    